// Primary colors
$white:        #FFF;
$black:        #000;
$red:          #EE0F0F;
$greyLight:    #F4F4F4;
$grey: 		   #2E2E2E;

$blue:         #2C79E5;
$blueLight:    #A1A9B9;
$blueStrong:   #022140;
$blueDark:     #576072;
$blueBlack:    #1E2D3A;

$green:        #08C5C3;

$colorPrimary: $blue;

$bkgBody:      $greyLight;
$textPrimary:  #29374B;
$text:         #858585;

$border:       #AAA;

$bgBtn:       #E7E7E7;
$brBtn:		  #ACB5C1;
$brBtn2:      #B6BBC3;
$brInput:     #DBDBDB;

$color01:     #576072;
$color02:     #6F7781;
$color03:     #777F8C;
$color04:     #F5F5F5;
$color05:     #D5D5D5;
$color06:     #4B607A;
$color07:     #757575;
$color08:     #BEBEBE;
$color09:     #CCC;
$color10:     #FCFCFC;
$color11:     #293340;
$color12:     #A5A5A5;
$color13:     #506785;
$color15:     #BCC1C8;
$color16:     #DCDCDC;
$color17:     #E5E5E5;
$color18:     #F1F1F1;
$color19:     #AFAFAF;
$color20:     #EEE;
$color21:     #4E5E77;
$color22:     #F5F7F9;
$color23:     #D1D1D1;
$color24:     #D9E1E8;

//Fonts
$mainFont:    'SegoeUi', sans-serif;
$iconFont:    'icomoon';

//Size
$size:        14px;

//Gutter
$gut:         15px;

//Width layout
$w-sm:        768px;
$w-md:        1024px;
$w-base:      1200px;


//Background
$topBarBkg: "../images/bkg_top_bar.png";
$menuItemBkg: "../images/bkg_menu_item.png";
$faqBkg: "../images/bkg_faq.png";
$titleBkg: "../images/bkg_title.png";
$contentBkg: "../images/bkg_content.png";
$footerBkg: "../images/bkg_footer.png";

//Others

