<footer>
    <div class="footer-wrapper">

        <!--Total Block-->
        <div class="total-blk">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-xs-6">
                        <div class="name">Total Bot</div>
                        <div class="value">185,643</div>
                    </div>

                    <div class="col-sm-3 col-xs-6">
                        <div class="name">Total Script</div>
                        <div class="value">254,643</div>
                    </div>

                    <div class="col-sm-3 col-xs-6">
                        <div class="name">Total Maker</div>
                        <div class="value">50,643</div>
                    </div>

                    <div class="col-sm-3 col-xs-6">
                        <div class="name">Total Transactions</div>
                        <div class="value">185,643,154</div>
                    </div>

                </div>
            </div>
        </div>
        <!--/Total Block-->

        <!--FooterInner-->
        <div class="footer-inner">
            <div class="container">
                <div class="row">

                    <!--Choose Language-->
                    <div class="col-sm-4 col-xs-12">
                        <div class="language">
                            <a href="#" id="languageLink" class="chose-language" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon-worldwide"></span>Chose language</a>
                            <div class="dropdown-menu" aria-labelledby="languageLink">
                                <a href="#">English</a>
                                <a href="#">French</a>
                                <a href="#">Vietnamese</a>
                            </div>
                        </div>

                        <div class="social-links">
                            <a href="#"><span class="icon-facebook-logo-button"></span></a>
                            <a href="#"><span class="icon-instagram-logo"></span></a>
                            <a href="#"><span class="icon-twitter-logo-button"></span></a>
                            <a href="#"><span class="icon-google-plus-logo-button"></span></a>
                            <a href="#"><span class="icon-globe-outline"></span></a>
                        </div>
                    </div>
                    <!--/Choose Language-->

                    <!--Footer Links-->
                    <div class="col-sm-4 col-xs-12">
                        <ul class="footer-links">
                            <li><a href="#">Bot Award</a></li>
                            <li><a href="#">Bot Award</a></li>
                            <li><a href="#">Jobs Bot</a></li>
                            <li><a href="#">Jobs Bot</a></li>
                            <li><a href="#">Top Maker</a></li>
                            <li><a href="#">Top Maker</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                    <!--/Footer Links-->

                    <!--Subcribe-->
                    <div class="col-sm-4 col-xs-12">
                        <div class="subscribe-form">
                            <form>
                                <input type="email" placeholder="Your email address">
                                <!--p class="label-error">Email: This field is required.</p-->
                                <button type="button" class="btn"><span class="icon-send"></span>Subscribe</button>
                            </form>
                        </div>
                    </div>
                    <!--/Subcribe-->

                </div>
            </div>
        </div>
        <!--/FooterInner-->

        <!--Copyright-->
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <p>Copyright &copy; 2018 Unibot.org. All rights reserved.</p>
                </div>
            </div>
        </div>
        <!--/Copyright-->

    </div>
</footer>
