<% layout('./layout/layout') -%>

<div class="container">
    <div class="row">

        <!--Right Column-->
        <div class="right-col-large">
            <!--Block Profile-->
            <div class="block block-profile">
                <div class="chatbot-price">
                    <h3 class="block-title">Chat Bot Price</h3>

                    <div class="price-box">
                        <span class="old-price">$180</span>
                        <span class="price">$120</span>
                    </div>

                    <div class="currency">
                        <span class="item">15 BTC</span>
                        <span class="item">15 ETH</span>
                        <span class="item">30 UNI</span>
                    </div>
                </div>

                <div class="payment-method">
                    <h3 class="block-title">Payment methods</h3>

                    <ul class="payment-method-list">
                        <li><span class="img"><img src="img/user_avatar.jpg" alt="" /></span>Bitcoin</li>
                        <li><span class="img"><img src="img/user_avatar.jpg" alt="" /></span>Ethereum</li>
                        <li><span class="img"><img src="img/user_avatar.jpg" alt="" /></span>Uni Coin</li>
                        <li><span class="img"><img src="img/user_avatar.jpg" alt="" /></span>Cash</li>
                    </ul>

                </div>

                <div class="maker-info">
                    <h3 class="block-title">Maker Infomation</h3>

                    <!--Profile-->
                    <div class="profile">
                        <div class="avatar">
                            <img src="img/user_avatar.jpg" alt="" />
                        </div>

                        <div class="inner">
                            <div class="info">
                                <h3>Maker Infomation</h3>
                                <p>Sed ut perspiciatis unde</p>
                            </div>

                            <div class="activity">
                                <span class="like"><span class="icon-like"></span>12.6k</span>
                                <span class="cart"><span class="icon-cart"></span>1.3k</span>
                            </div>
                        </div>
                    </div>
                    <!--/Profile-->

                    <div class="actions">
                        <a href="#" class="btn-sencondary"><span class="icon-link"></span>Follow</a>
                        <a href="#" class="btn"><span class="icon-chat"></span>Message</a>
                    </div>
                </div>

                <div class="payment-method">
                    <h3 class="block-title">Related Bot</h3>

                </div>
            </div>
            <!--/Block Profile-->
        </div>
        <!--/Right Column-->

        <div class="main">

            <!--Bot Detail-->
            <div class="block-default bot-detail">

                <!--Bot Topbar-->
                <div class="bot-topbar">

                    <!--Bot Detail Item-->
                    <div class="bot-detail-item">
                        <div class="img"><img src="img/user_avatar.jpg" alt=""></div>
                        <!--Content-->
                        <div class="content">
                            <h3 class="name"><a href="bot-detail.html">Mega Bot Solution</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>

                            <!--Bottom Bar-->
                            <div class="bottom-bar">
                                <!--Platform List-->
                                <div class="platform-bkl">
                                    <div class="platform-list">
                                        <a href="#" class="item"><img src="img/dot.jpg" alt=""></a>
                                        <a href="#" class="item"><img src="img/dot.jpg" alt=""></a>
                                    </div>
                                </div>
                                <!--/Platform List-->

                                <!--Activity-->
                                <div class="activity">
                                    <span class="like"><span class="icon-like"></span>12.6k</span>
                                    <span class="cart"><span class="icon-cart"></span>1.3k</span>
                                </div>
                                <!--/Activity-->
                            </div>
                            <!--/Bottom Bar-->

                        </div>
                        <!--/Content-->
                    </div>
                    <!--/Bot Detail Item-->

                    <!--Actions Box-->
                    <div class="actions">
                        <button class="btn add-new"><span class="icon-plus"></span>Add to library</button>
                        <div class="btn-rating">
                            <div class="rating">
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="rated" style="width: 100%;"></span>
                            </div>
                        </div>
                    </div>
                    <!--/Actions Box-->


                </div>
                <!--/Bot Topbar-->

                <!--Bot Description-->
                <div class="bot-description">
                    <!--Bot Info-->
                    <div class="bot-info">
                        <div class="info-item">
                            <h3>Reply</h3>
                            <p>Average over the per days</p>
                            <p class="value">125,180</p>
                        </div>
                        <div class="info-item">
                            <h3>Message</h3>
                            <p>Average over the per days</p>
                            <p class="value">125,180</p>
                        </div>
                        <div class="info-item">
                            <h3>Transaction</h3>
                            <p>Average over the per days</p>
                            <p class="value">125,180</p>
                        </div>
                    </div>
                    <!--/Bot Info-->

                    <!--Bot Desc-->
                    <div class="bot-desc">
                        <h3 class="title">Seller Description</h3>
                        <h4>Platform</h4>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
                        <h4>How to use</h4>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
                    </div>
                    <!--/Bot Desc-->

                    <!--Chatbot Image-->
                    <div class="chatbot-image">
                        <h3 class="title">Chatbot Image</h3>
                        <div class="chatbot-list">
                            <div class="item">
                                <a href="#"><img src="img/bot-item.jpg" alt="" /></a>
                            </div>
                            <div class="item">
                                <a href="#"><img src="img/bot-item.jpg" alt="" /></a>
                            </div>
                            <div class="item">
                                <a href="#"><img src="img/bot-item.jpg" alt="" /></a>
                            </div>
                            <div class="item">
                                <a href="#"><img src="img/bot-item.jpg" alt="" /></a>
                            </div>
                        </div>
                    </div>
                    <!--/Chatbot Image-->

                </div>
                <!--/Bot Description-->

            </div>
            <!--/Bot Detail-->

            <!--Review Block-->
            <div class="review-block">
                <div class="title-blk">
                    <h2>Review (02)</h2>
                    <a href="#" class="btn btn-post-review"><span class="icon-speech"></span>Post review</a>
                </div>

                <!--Review Item-->
                <div class="review-item">
                    <div class="user-profile">
                        <a href="maker-detail.html">
                            <span class="user-avatar"><img src="img/user_avatar.jpg" alt=""></span>
                            <span class="user-name">Michael Jackson</span>
                        </a>
                    </div>

                    <div class="review-txt">
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
                    </div>

                    <a href="#" class="setting-note-link"><span></span></a>

                </div>
                <!--/Review Item-->

                <!--Review Item-->
                <div class="review-item">
                    <div class="user-profile">
                        <a href="maker-detail.html">
                            <span class="user-avatar"><img src="img/user_avatar.jpg" alt=""></span>
                            <span class="user-name">Le Anh Tuan</span>
                        </a>
                    </div>

                    <div class="review-txt">
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
                    </div>

                    <a href="#" class="setting-note-link"><span></span></a>

                </div>
                <!--/Review Item-->

            </div>
            <!--/Review Block-->

        </div>

    </div>
</div>