<% layout('./layout/layout') -%>
<div class="container">
    <div class="row">

        <!--Featured Bot-->
        <div id="featured-bot">
            <div class="title-blk">
                <h2>Featured Bot</h2>
                <a class="btn btn-viewmore" href="bot-list.html">View more</span></a>
            </div>
            <!--Bot List-->
            <div class="grid-mode bot-list">
                <div class="item">
                    <div class="img"><img src="img/bot-item.jpg" alt="" /></div>
                    <h3><a href="bot-detail.html">Mega Bot</a></h3>
                </div>
                <div class="item">
                    <div class="img"><img src="img/bot-item.jpg" alt="" /></div>
                    <h3><a href="bot-detail.html">Profesional Hospital Bot</a></h3>
                </div>
                <div class="item">
                    <div class="img"><img src="img/bot-item.jpg" alt="" /></div>
                    <h3><a href="bot-detail.html">Profesional Bot</a></h3>
                </div>
                <div class="item">
                    <div class="img"><img src="img/bot-item.jpg" alt="" /></div>
                    <h3><a href="bot-detail.html">Profesional Hospital Bot</a></h3>
                </div>
            </div>
            <!--/Bot List-->
        </div>
        <!--/Featured Bot-->

        <!--Latest Bot-->
        <div id="latest-bot">
            <div class="title-blk">
                <h2>Latest Bot</h2>
                <a class="btn btn-viewmore" href="bot-list.html">View more</span></a>
            </div>
            <!--Grid Items-->
            <div class="grid-mode">
                <!--Item-->
                <div class="grid-item">
                    <div class="img"><img src="img/product.jpg" alt="" /></div>
                    <h3 class="name"><a href="bot-detail.html">Mega Hospital BotLorem ipsum dolor sit amet, consectetur adipiscing elit, sed </a></h3>
                    <div class="info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
                    </div>
                    <div class="platform-bkl">
                        <div class="platform-list">
                            <a href="#" class="item"><img src="img/dot.jpg" alt="" /></a>
                            <a href="#" class="item"><img src="img/dot.jpg" alt="" /></a>
                            <a href="#" class="item"><img src="img/dot.jpg" alt="" /></a>
                            <a href="#" class="item"><img src="img/dot.jpg" alt="" /></a>
                        </div>
                    </div>
                </div>
                <!--/Item-->

                <!--Item-->
                <div class="grid-item">
                    <div class="img"><img src="img/product.jpg" alt="" /></div>
                    <h3 class="name"><a href="bot-detail.html">Mega Hospital Bot</a></h3>
                    <div class="info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
                    </div>
                    <div class="platform-bkl">
                        <div class="platform-list">
                            <a href="#" class="item"><img src="img/dot.jpg" alt="" /></a>
                            <a href="#" class="item"><img src="img/dot.jpg" alt="" /></a>
                            <a href="#" class="item"><img src="img/dot.jpg" alt="" /></a>
                            <a href="#" class="item"><img src="img/dot.jpg" alt="" /></a>
                        </div>
                    </div>
                </div>
                <!--/Item-->

                <!--Item-->
                <div class="grid-item">
                    <div class="img"><img src="img/product.jpg" alt="" /></div>
                    <h3 class="name"><a href="bot-detail.html">Mega Hospital Bot</a></h3>
                    <div class="info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
                    </div>
                    <div class="platform-bkl">
                        <div class="platform-list">
                            <a href="#" class="item"><img src="img/dot.jpg" alt="" /></a>
                            <a href="#" class="item"><img src="img/dot.jpg" alt="" /></a>
                            <a href="#" class="item"><img src="img/dot.jpg" alt="" /></a>
                            <a href="#" class="item"><img src="img/dot.jpg" alt="" /></a>
                        </div>
                    </div>
                </div>
                <!--/Item-->

                <!--Item-->
                <div class="grid-item">
                    <div class="img"><img src="img/product.jpg" alt="" /></div>
                    <h3 class="name"><a href="bot-detail.html">Mega Hospital Bot</a></h3>
                    <div class="info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
                    </div>
                    <div class="platform-bkl">
                        <div class="platform-list">
                            <a href="#" class="item"><img src="img/dot.jpg" alt="" /></a>
                            <a href="#" class="item"><img src="img/dot.jpg" alt="" /></a>
                            <a href="#" class="item"><img src="img/dot.jpg" alt="" /></a>
                            <a href="#" class="item"><img src="img/dot.jpg" alt="" /></a>
                        </div>
                    </div>
                </div>
                <!--/Item-->

                <!--Item-->
                <div class="grid-item">
                    <div class="img"><img src="img/product.jpg" alt="" /></div>
                    <h3 class="name"><a href="bot-detail.html">Mega Hospital Bot</a></h3>
                    <div class="info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
                    </div>
                    <div class="platform-bkl">
                        <div class="platform-list">
                            <a href="#" class="item"><img src="img/dot.jpg" alt="" /></a>
                            <a href="#" class="item"><img src="img/dot.jpg" alt="" /></a>
                            <a href="#" class="item"><img src="img/dot.jpg" alt="" /></a>
                            <a href="#" class="item"><img src="img/dot.jpg" alt="" /></a>
                        </div>
                    </div>
                </div>
                <!--/Item-->

                <!--Item-->
                <div class="grid-item">
                    <div class="img"><img src="img/product.jpg" alt="" /></div>
                    <h3 class="name"><a href="bot-detail.html">Mega Hospital Bot</a></h3>
                    <div class="info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
                    </div>
                    <div class="platform-bkl">
                        <div class="platform-list">
                            <a href="#" class="item"><img src="img/dot.jpg" alt="" /></a>
                            <a href="#" class="item"><img src="img/dot.jpg" alt="" /></a>
                            <a href="#" class="item"><img src="img/dot.jpg" alt="" /></a>
                            <a href="#" class="item"><img src="img/dot.jpg" alt="" /></a>
                        </div>
                    </div>
                </div>
                <!--/Item-->
            </div>
            <!--/Grid Items-->
        </div>
        <!--Latest Bot-->

        <!--Hot Collections-->
        <div id="hot-collection">
            <div class="title-blk">
                <h2>Hot Collections</h2>
                <a class="btn btn-viewmore" href="bot-list.html">View more</span></a>
            </div>
            <!--Bot List-->
            <div class="grid-mode bot-list">
                <div class="item">
                    <div class="img"><img src="img/bot-item.jpg" alt="" /></div>
                    <h3><a href="bot-detail.html">Mega Bot</a></h3>
                </div>
                <div class="item">
                    <div class="img"><img src="img/bot-item.jpg" alt="" /></div>
                    <h3><a href="bot-detail.html">Profesional Hospital Bot</a></h3>
                </div>
                <div class="item">
                    <div class="img"><img src="img/bot-item.jpg" alt="" /></div>
                    <h3><a href="bot-detail.html">Profesional Bot</a></h3>
                </div>
                <div class="item">
                    <div class="img"><img src="img/bot-item.jpg" alt="" /></div>
                    <h3><a href="bot-detail.html">Profesional Hospital Bot</a></h3>
                </div>
            </div>
            <!--/Bot List-->
        </div>
        <!--/Hot Collections-->

        <!--Bot and Script Maker-->
        <div id="bot-srcipt-maker">
            <div class="title-blk">
                <h2>Bot and Script Maker</h2>
                <a class="btn btn-viewmore" href="hot-bot-and-script.html">View more</span></a>
            </div>

            <!--Bot and Script List-->
            <div class="grid-mode bot-list-maker">
                <div class="grid-item">
                    <div class="avatar"><img src="img/user_avatar.jpg" alt="" /></div>
                    <h3 class="name"><a href="maker-detail.html">Micheal Jackson</a></h3>
                    <div class="info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
                    </div>
                    <div class="act-bottom">
                        <span class="like"><span class="icon-heart"></span> 1234</span>
                        <span class="cart"><span class="icon-cart"></span> 1234</span>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="avatar"><img src="img/user_avatar.jpg" alt="" /></div>
                    <h3 class="name"><a href="maker-detail.html">John Doe</a></h3>
                    <div class="info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
                    </div>
                    <div class="act-bottom">
                        <span class="like"><span class="icon-heart"></span> 1234</span>
                        <span class="cart"><span class="icon-cart"></span> 1234</span>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="avatar"><img src="img/user_avatar.jpg" alt="" /></div>
                    <h3 class="name"><a href="maker-detail.html">Peter Lam</a></h3>
                    <div class="info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
                    </div>
                    <div class="act-bottom">
                        <span class="like"><span class="icon-heart"></span> 1234</span>
                        <span class="cart"><span class="icon-cart"></span> 1234</span>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="avatar"><img src="img/user_avatar.jpg" alt="" /></div>
                    <h3 class="name"><a href="maker-detail.html">Christiane Lee</a></h3>
                    <div class="info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
                    </div>
                    <div class="act-bottom">
                        <span class="like"><span class="icon-heart"></span> 1234</span>
                        <span class="cart"><span class="icon-cart"></span> 1234</span>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="avatar"><img src="img/user_avatar.jpg" alt="" /></div>
                    <h3 class="name"><a href="maker-detail.html">Peter Lam</a></h3>
                    <div class="info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
                    </div>
                    <div class="act-bottom">
                        <span class="like"><span class="icon-heart"></span> 1234</span>
                        <span class="cart"><span class="icon-cart"></span> 1234</span>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="avatar"><img src="img/user_avatar.jpg" alt="" /></div>
                    <h3 class="name"><a href="maker-detail.html">Christiane Lee</a></h3>
                    <div class="info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
                    </div>
                    <div class="act-bottom">
                        <span class="like"><span class="icon-heart"></span> 1234</span>
                        <span class="cart"><span class="icon-cart"></span> 1234</span>
                    </div>
                </div>
            </div>
            <!--/Bot and Script List-->
        </div>
        <!--/Bot and Script Maker-->


    </div>
</div>