<% layout('./layout/layout') -%>
<!--Search Filter-->
<div class="search-filter">
    <div class="container">
        <div class="row">
            <form>
                <div class="col-1">
                    <input type="search" placeholder="Searching..." />
                </div>

                <div class="col-2 select-box-spec">
                    <select>
                        <option value="opt0">Select type bot</option>
                        <option value="opt1">Option 1</option>
                        <option value="opt2">Option 2</option>
                        <option value="opt3">Option 2</option>
                    </select>
                </div>

                <div class="col-3 select-box-spec">
                    <select>
                        <option value="opt0">Select type platform</option>
                        <option value="opt1">Option 1</option>
                        <option value="opt2">Option 2</option>
                        <option value="opt3">Option 2</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
</div>
<!--/Search Filter-->

<div class="container">
    <div class="row">

        <!--Left Side-->
        <div class="left-col block-default left-side">

            <!--Time Created-->
           <div class="filter-options-item">
               <h3 class="title">Time Created</h3>
               <ul class="list">
                   <li><a href="#">Newest</a></li>
                   <li><a href="#">Top Hired</a></li>
                   <li><a href="#">Verifed Post</a></li>
               </ul>
           </div>
            <!--/Time Created-->

            <!--Platform of Bot-->
            <div class="filter-options-item">
                <h3 class="title">Platform of Bot</h3>
                <ul class="row list">
                    <li class="col-lg-6 col-md-12">
                        <div class="check-box">
                            <input type="checkbox" name="" />
                            <span></span>
                            <label>Slack</label>
                        </div>
                    </li>
                    <li class="col-lg-6 col-md-12">
                        <div class="check-box">
                            <input type="checkbox" name="" />
                            <span></span>
                            <label>Viber</label>
                        </div>
                    </li>
                    <li class="col-lg-6 col-md-12">
                        <div class="check-box">
                            <input type="checkbox" name="" />
                            <span></span>
                            <label>Messenger</label>
                        </div>
                    </li>
                    <li class="col-lg-6 col-md-12">
                        <div class="check-box">
                            <input type="checkbox" name="" />
                            <span></span>
                            <label>Zalo</label>
                        </div>
                    </li>
                    <li class="col-lg-6 col-md-12">
                        <div class="check-box">
                            <input type="checkbox" name="" />
                            <span></span>
                            <label>Skype</label>
                        </div>
                    </li>
                    <li class="col-lg-6 col-md-12">
                        <div class="check-box">
                            <input type="checkbox" name="" />
                            <span></span>
                            <label>Gmail</label>
                        </div>
                    </li>
                    <li class="col-lg-6 col-md-12">
                        <div class="check-box">
                            <input type="checkbox" name="" />
                            <span></span>
                            <label>Website</label>
                        </div>
                    </li>
                    <li class="col-lg-6 col-md-12">
                        <div class="check-box">
                            <input type="checkbox" name="" />
                            <span></span>
                            <label>Instagram</label>
                        </div>
                    </li>
                </ul>
            </div>
            <!--/Platform of Bot-->

            <!--Select Currency-->
            <div class="filter-options-item">
                <h3 class="title">Select Currency</h3>
                <div class="select-box">
                    <select>
                        <option value="volvo" selected>Uni Coin</option>
                        <option value="saab">Bitcoin</option>
                        <option value="mercedes">Litecoin</option>
                    </select>
                </div>
            </div>
            <!--/Select Currency-->

            <!--Price-->
            <div class="filter-options-item">
                <h3 class="title">Price</h3>
                <div class="slider-range">
                    <div id="slider-range"></div>
                    <input type="text" id="amount" readonly />
                </div>

            </div>

            <script>
                $( function() {
                    $( "#slider-range" ).slider({
                        range: true,
                        min: 0,
                        max: 500,
                        values: [ 0, 500 ],
                        slide: function( event, ui ) {
                            $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
                        }
                    });
                    $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
                        " - $" + $( "#slider-range" ).slider( "values", 1 ) );
                } );
            </script>
            <!--/Price-->

            <!--Languages-->
            <div class="filter-options-item">
                <h3 class="title">Languages</h3>
                <input type="text" class="form-full" placeholder="Choose languages">
            </div>
            <!--/Language-->

        </div>
        <!--/Left Side-->

        <!--Main-->
        <div class="main">

            <!--Jobs List-->
            <div class="block-default jobs-list">
                <h2 class="block-title">Newest Jobs</h2>

                <div class="list-mode">
                    <!--Item-->
                    <div class="list-item bot-item">
                        <!--Content-->
                        <div class="content">
                            <h3 class="name"><a href="bot-detail.html">I need to create a new bot for my hotel</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                            <!--Bottom Bar-->
                            <div class="bottom-bar">
                                <!--User Profile-->
                                <div class="user-profile">
                                    <a href="maker-detail.html">
                                        <span class="user-avatar"><img src="img/user_avatar.jpg" alt=""></span>
                                        <span class="user-name">Michael Jackson</span>
                                    </a>
                                </div>
                                <!--/User Profile-->

                                <!--Platform List-->
                                <div class="platform-bkl">
                                    <div class="platform-list">
                                        <a href="#" class="item"><img src="img/dot.jpg" alt=""></a>
                                        <a href="#" class="item"><img src="img/dot.jpg" alt=""></a>
                                        <a href="#" class="item"><img src="img/dot.jpg" alt=""></a>
                                    </div>
                                </div>
                                <!--/Platform List-->

                                <!--Activity-->
                                <div class="activity">
                                    <span class="like"><span class="icon-like"></span>12.6k</span>
                                    <span class="cart"><span class="icon-cart"></span>1.3k</span>
                                </div>
                                <!--/Activity-->
                            </div>
                            <!--/Bottom Bar-->

                        </div>
                        <!--/Content-->

                        <!--Info-->
                        <div class="info-private">
                            <div class="price-box">
                                <span class="price">$180</span>
                            </div>

                            <div class="text">
                                <p>Payment Method</p>
                                <p class="currency">Unicoin, Cash</p>
                            </div>

                            <div class="actions">
                                <a href="#" class="btn-sencondary"><span class="icon-link"></span>Detail</a>
                                <a href="#" class="btn"><span class="icon-chat"></span>Message</a>
                            </div>
                        </div>
                        <!--/Info-->

                    </div>
                    <!--/Item-->

                    <!--Item-->
                    <div class="list-item bot-item">
                        <!--Content-->
                        <div class="content">
                            <h3 class="name"><a href="bot-detail.html">I need to create a new bot for my hotel</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                            <!--Bottom Bar-->
                            <div class="bottom-bar">
                                <!--User Profile-->
                                <div class="user-profile">
                                    <a href="maker-detail.html">
                                        <span class="user-avatar"><img src="img/user_avatar.jpg" alt=""></span>
                                        <span class="user-name">Michael Jackson</span>
                                    </a>
                                </div>
                                <!--/User Profile-->

                                <!--Platform List-->
                                <div class="platform-bkl">
                                    <div class="platform-list">
                                        <a href="#" class="item"><img src="img/dot.jpg" alt=""></a>
                                        <a href="#" class="item"><img src="img/dot.jpg" alt=""></a>
                                        <a href="#" class="item"><img src="img/dot.jpg" alt=""></a>
                                    </div>
                                </div>
                                <!--/Platform List-->

                                <!--Activity-->
                                <div class="activity">
                                    <span class="like"><span class="icon-like"></span>12.6k</span>
                                    <span class="cart"><span class="icon-cart"></span>1.3k</span>
                                </div>
                                <!--/Activity-->
                            </div>
                            <!--/Bottom Bar-->

                        </div>
                        <!--/Content-->

                        <!--Info-->
                        <div class="info-private">
                            <div class="price-box">
                                <span class="price">$180</span>
                            </div>

                            <div class="text">
                                <p>Payment Method</p>
                                <p class="currency">Unicoin, Cash</p>
                            </div>

                            <div class="actions">
                                <a href="#" class="btn-sencondary"><span class="icon-link"></span>Detail</a>
                                <a href="#" class="btn"><span class="icon-chat"></span>Message</a>
                            </div>
                        </div>
                        <!--/Info-->

                    </div>
                    <!--/Item-->

                    <!--Item-->
                    <div class="list-item bot-item">
                        <!--Content-->
                        <div class="content">
                            <h3 class="name"><a href="bot-detail.html">I need to create a new bot for my hotel</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                            <!--Bottom Bar-->
                            <div class="bottom-bar">
                                <!--User Profile-->
                                <div class="user-profile">
                                    <a href="maker-detail.html">
                                        <span class="user-avatar"><img src="img/user_avatar.jpg" alt=""></span>
                                        <span class="user-name">Michael Jackson</span>
                                    </a>
                                </div>
                                <!--/User Profile-->

                                <!--Platform List-->
                                <div class="platform-bkl">
                                    <div class="platform-list">
                                        <a href="#" class="item"><img src="img/dot.jpg" alt=""></a>
                                        <a href="#" class="item"><img src="img/dot.jpg" alt=""></a>
                                        <a href="#" class="item"><img src="img/dot.jpg" alt=""></a>
                                    </div>
                                </div>
                                <!--/Platform List-->

                                <!--Activity-->
                                <div class="activity">
                                    <span class="like"><span class="icon-like"></span>12.6k</span>
                                    <span class="cart"><span class="icon-cart"></span>1.3k</span>
                                </div>
                                <!--/Activity-->
                            </div>
                            <!--/Bottom Bar-->

                        </div>
                        <!--/Content-->

                        <!--Info-->
                        <div class="info-private">
                            <div class="price-box">
                                <span class="price">$180</span>
                            </div>

                            <div class="text">
                                <p>Payment Method</p>
                                <p class="currency">Unicoin, Cash</p>
                            </div>

                            <div class="actions">
                                <a href="#" class="btn-sencondary"><span class="icon-link"></span>Detail</a>
                                <a href="#" class="btn"><span class="icon-chat"></span>Message</a>
                            </div>
                        </div>
                        <!--/Info-->

                    </div>
                    <!--/Item-->

                    <!--Item-->
                    <div class="list-item bot-item">
                        <!--Content-->
                        <div class="content">
                            <h3 class="name"><a href="bot-detail.html">I need to create a new bot for my hotel</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                            <!--Bottom Bar-->
                            <div class="bottom-bar">
                                <!--User Profile-->
                                <div class="user-profile">
                                    <a href="maker-detail.html">
                                        <span class="user-avatar"><img src="img/user_avatar.jpg" alt=""></span>
                                        <span class="user-name">Michael Jackson</span>
                                    </a>
                                </div>
                                <!--/User Profile-->

                                <!--Platform List-->
                                <div class="platform-bkl">
                                    <div class="platform-list">
                                        <a href="#" class="item"><img src="img/dot.jpg" alt=""></a>
                                        <a href="#" class="item"><img src="img/dot.jpg" alt=""></a>
                                        <a href="#" class="item"><img src="img/dot.jpg" alt=""></a>
                                    </div>
                                </div>
                                <!--/Platform List-->

                                <!--Activity-->
                                <div class="activity">
                                    <span class="like"><span class="icon-like"></span>12.6k</span>
                                    <span class="cart"><span class="icon-cart"></span>1.3k</span>
                                </div>
                                <!--/Activity-->
                            </div>
                            <!--/Bottom Bar-->

                        </div>
                        <!--/Content-->

                        <!--Info-->
                        <div class="info-private">
                            <div class="price-box">
                                <span class="price">$180</span>
                            </div>

                            <div class="text">
                                <p>Payment Method</p>
                                <p class="currency">Unicoin, Cash</p>
                            </div>

                            <div class="actions">
                                <a href="#" class="btn-sencondary"><span class="icon-link"></span>Detail</a>
                                <a href="#" class="btn"><span class="icon-chat"></span>Message</a>
                            </div>
                        </div>
                        <!--/Info-->

                    </div>
                    <!--/Item-->

                </div>
            </div>
            <!--/Jobs List-->

            <div class="pagination-wrap">
                <ul class="pagination">
                    <li class="prev disabled"><span class="icon-back"></span></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li class="next"><span class="icon-next"></span></li>
                </ul>
            </div>

        </div>
        <!--/Main-->

    </div>
</div>