<% layout('./layout/layout') -%>
<!--Search Filter-->
<div class="search-filter">
    <div class="container">
        <div class="row">
            <form>
                <div class="col-1">
                    <input type="search" placeholder="Searching..." />
                </div>

                <div class="col-2 select-box-spec">
                    <select>
                        <option value="opt0">Select type bot</option>
                        <option value="opt1">Option 1</option>
                        <option value="opt2">Option 2</option>
                        <option value="opt3">Option 2</option>
                    </select>
                </div>

                <div class="col-3 select-box-spec">
                    <select>
                        <option value="opt0">Select type platform</option>
                        <option value="opt1">Option 1</option>
                        <option value="opt2">Option 2</option>
                        <option value="opt3">Option 2</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
</div>
<!--/Search Filter-->

<div class="container">
    <div class="row">

        <!--List Items-->
        <div class="list-mode">

            <!--Item-->
            <div class="list-item">
                <!--Profile-->
                <div class="profile">
                    <div class="avatar">
                        <img src="img/user_avatar.jpg" alt="" />
                    </div>
                    <div class="info">
                        <h3>Michael Jackson</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </p>
                    </div>

                    <div class="activity">
                        <div class="rating">
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                            <span class="rated" style="width: 80%;"></span>
                        </div>
                        <span class="like"><span class="icon-like"></span>12.6k</span>
                        <span class="cart"><span class="icon-cart"></span>1.3k</span>
                    </div>

                    <div class="actions">
                        <a href="#" class="btn-sencondary"><span class="icon-link"></span>Follow</a>
                        <a href="#" class="btn"><span class="icon-chat"></span>Message</a>
                    </div>
                </div>
                <!--/Profile-->

                <!--Bot List-->
                <div class="bot-list">
                    <div class="item">
                        <div class="img"><img src="img/bot-item.jpg" alt="" /></div>
                        <h3><a href="bot-detail.html">Mega Bot</a></h3>
                    </div>
                    <div class="item">
                        <div class="img"><img src="img/bot-item.jpg" alt="" /></div>
                        <h3><a href="bot-detail.html">Profesional Hospital Bot</a></h3>
                    </div>
                    <div class="item">
                        <div class="img"><img src="img/bot-item.jpg" alt="" /></div>
                        <h3><a href="bot-detail.html">Profesional Bot</a></h3>
                    </div>
                    <div class="item">
                        <div class="img"><img src="img/bot-item.jpg" alt="" /></div>
                        <h3><a href="bot-detail.html">Profesional Hospital Bot</a></h3>
                    </div>
                </div>
                <!--/Bot List-->

                <div class="action-bottom">
                    <a href="maker-detail.html" class="btn-viewmore">View more</a>
                </div>
            </div>
            <!--Item-->

            <!--Item-->
            <div class="list-item">
                <!--Profile-->
                <div class="profile">
                    <div class="avatar">
                        <img src="img/user_avatar.jpg" alt="" />
                    </div>
                    <div class="info">
                        <h3>Michael Jackson</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </p>
                    </div>

                    <div class="activity">
                        <div class="rating">
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                            <span class="rated" style="width: 100%;"></span>
                        </div>
                        <span class="like"><span class="icon-like"></span>12.6k</span>
                        <span class="cart"><span class="icon-cart"></span>1.3k</span>
                    </div>

                    <div class="actions">
                        <a href="#" class="btn-sencondary"><span class="icon-link"></span>Follow</a>
                        <a href="#" class="btn"><span class="icon-chat"></span>Message</a>
                    </div>
                </div>
                <!--/Profile-->

                <!--Bot List-->
                <div class="bot-list">
                    <div class="item">
                        <div class="img"><img src="img/bot-item.jpg" alt="" /></div>
                        <h3><a href="bot-detail.html">Mega Bot</a></h3>
                    </div>
                    <div class="item">
                        <div class="img"><img src="img/bot-item.jpg" alt="" /></div>
                        <h3><a href="bot-detail.html">Profesional Hospital Bot</a></h3>
                    </div>
                    <div class="item">
                        <div class="img"><img src="img/bot-item.jpg" alt="" /></div>
                        <h3><a href="bot-detail.html">Profesional Bot</a></h3>
                    </div>
                    <div class="item">
                        <div class="img"><img src="img/bot-item.jpg" alt="" /></div>
                        <h3><a href="bot-detail.html">Profesional Hospital Bot</a></h3>
                    </div>
                </div>
                <!--/Bot List-->

                <div class="action-bottom">
                    <a href="maker-detail.html" class="btn-viewmore">View more</a>
                </div>
            </div>
            <!--Item-->

            <!--Item-->
            <div class="list-item">
                <!--Profile-->
                <div class="profile">
                    <div class="avatar">
                        <img src="img/user_avatar.jpg" alt="" />
                    </div>
                    <div class="info">
                        <h3>Michael Jackson</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </p>
                    </div>

                    <div class="activity">
                        <div class="rating">
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                            <span class="rated" style="width: 50%;"></span>
                        </div>
                        <span class="like"><span class="icon-like"></span>12.6k</span>
                        <span class="cart"><span class="icon-cart"></span>1.3k</span>
                    </div>

                    <div class="actions">
                        <a href="#" class="btn-sencondary"><span class="icon-link"></span>Follow</a>
                        <a href="#" class="btn"><span class="icon-chat"></span>Message</a>
                    </div>
                </div>
                <!--/Profile-->

                <!--Bot List-->
                <div class="bot-list">
                    <div class="item">
                        <div class="img"><img src="img/bot-item.jpg" alt="" /></div>
                        <h3><a href="bot-detail.html">Mega Bot</a></h3>
                    </div>
                    <div class="item">
                        <div class="img"><img src="img/bot-item.jpg" alt="" /></div>
                        <h3><a href="bot-detail.html">Profesional Hospital Bot</a></h3>
                    </div>
                    <div class="item">
                        <div class="img"><img src="img/bot-item.jpg" alt="" /></div>
                        <h3><a href="bot-detail.html">Profesional Bot</a></h3>
                    </div>
                    <div class="item">
                        <div class="img"><img src="img/bot-item.jpg" alt="" /></div>
                        <h3><a href="bot-detail.html">Profesional Hospital Bot</a></h3>
                    </div>
                </div>
                <!--/Bot List-->

                <div class="action-bottom">
                    <a href="maker-detail.html" class="btn-viewmore">View more</a>
                </div>
            </div>
            <!--Item-->

            <!--Item-->
            <div class="list-item">
                <!--Profile-->
                <div class="profile">
                    <div class="avatar">
                        <img src="img/user_avatar.jpg" alt="" />
                    </div>
                    <div class="info">
                        <h3>Michael Jackson</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </p>
                    </div>

                    <div class="activity">
                        <div class="rating">
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                            <span class="rated" style="width: 0%;"></span>
                        </div>
                        <span class="like"><span class="icon-like"></span>12.6k</span>
                        <span class="cart"><span class="icon-cart"></span>1.3k</span>
                    </div>

                    <div class="actions">
                        <a href="#" class="btn-sencondary"><span class="icon-link"></span>Follow</a>
                        <a href="#" class="btn"><span class="icon-chat"></span>Message</a>
                    </div>
                </div>
                <!--/Profile-->

                <!--Bot List-->
                <div class="bot-list">
                    <div class="item">
                        <div class="img"><img src="img/bot-item.jpg" alt="" /></div>
                        <h3><a href="bot-detail.html">Mega Bot</a></h3>
                    </div>
                    <div class="item">
                        <div class="img"><img src="img/bot-item.jpg" alt="" /></div>
                        <h3><a href="bot-detail.html">Profesional Hospital Bot</a></h3>
                    </div>
                    <div class="item">
                        <div class="img"><img src="img/bot-item.jpg" alt="" /></div>
                        <h3><a href="bot-detail.html">Profesional Bot</a></h3>
                    </div>
                    <div class="item">
                        <div class="img"><img src="img/bot-item.jpg" alt="" /></div>
                        <h3><a href="bot-detail.html">Profesional Hospital Bot</a></h3>
                    </div>
                </div>
                <!--/Bot List-->

                <div class="action-bottom">
                    <a href="maker-detail.html" class="btn-viewmore">View more</a>
                </div>
            </div>
            <!--Item-->

        </div>
        <!--/List Items-->

        <div class="pagination-wrap">
            <ul class="pagination">
                <li class="prev disabled"><span class="icon-back"></span></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li class="next"><span class="icon-next"></span></li>
            </ul>
        </div>

    </div>
</div>