<% layout('./layout/layout') -%>
 <!--Profile Header-->
 <div class="profile-header">
    <div class="profile-bkg" style="background-image: url('img/dot.jpg');">&nbsp;</div>
    <div class="container">
        <div class="row">

            <!--Maker Profile-->
            <div class="acc-profile">
                <div class="avatar">
                    <img src="img/user_avatar.jpg" alt="" />
                </div>
                <div class="info">
                    <h3>Michael Jackson</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </p>
                </div>
            </div>
            <!--/Maker Profile-->

            <!--Maker Actions-->
            <div class="acc-actions">
                <div class="actions">
                    <a href="#" class="btn-sencondary"><span class="icon-link"></span>Follow</a>
                    <a href="#" class="btn"><span class="icon-chat"></span>Message</a>
                </div>

                <div class="activity">
                    <div class="rating">
                        <span class="icon-star"></span>
                        <span class="icon-star"></span>
                        <span class="icon-star"></span>
                        <span class="icon-star"></span>
                        <span class="icon-star"></span>
                        <span class="rated" style="width: 100%;"></span>
                    </div>
                    <span class="like"><span class="icon-like"></span>12.6k</span>
                    <span class="cart"><span class="icon-cart"></span>1.3k</span>
                </div>
            </div>
            <!--/Maker Actions-->

        </div>
    </div>
</div>
<!--/Profile Header-->

<div class="container">
    <div class="row">

        <!--Left Column-->
        <div class="left-col">
            <ul class="profile-links">
                <li><a href="#"><span class="icon-user"></span>Profile</a></li>
                <li><a href="#"><span class="icon-folder"></span>My bot &amp; script</a></li>
                <li><a href="#"><span class="icon-mail"></span>Messages</a></li>
                <li><a href="#"><span class="icon-notification"><span class="active"></span></span>Notification</a></li>
                <li><a href="my-wallet.html"><span class="icon-wallet"></span>Wallet</a></li>
                <li><a href="#"><span class="icon-settings"></span>Setting</a></li>
            </ul>
        </div>
        <!--/Left Column-->

        <!--Right Column-->
        <div class="right-col">
            <!--Block Profile-->
            <div class="block block-profile">
                <div class="about">
                    <h3 class="block-title">About</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                </div>

                <div class="connect">
                    <h3 class="block-title">Connect</h3>

                    <div class="inner">
                        <div class="col-1">
                            <span class="value">1,800</span>
                            <span class="name">Following</span>
                        </div>
                        <div class="col-2">
                            <span class="value">3,500</span>
                            <span class="name">Followers</span>
                        </div>
                    </div>
                </div>

                <div class="social">
                    <h3 class="block-title">Social</h3>
                    <div class="social-list">
                        <a href="#" class="item"><img src="img/user_avatar.jpg" alt="" /></a>
                        <a href="#" class="item"><img src="img/user_avatar.jpg" alt="" /></a>
                        <a href="#" class="item"><img src="img/user_avatar.jpg" alt="" /></a>
                        <a href="#" class="item"><img src="img/user_avatar.jpg" alt="" /></a>
                    </div>
                </div>
            </div>
            <!--/Block Profile-->
        </div>
        <!--/Right Column-->

        <div class="main">

            <!--Maker Detail-->
            <div class="block-default maker-detail">
                <h2 class="block-title">Made Bot by Michael Jackson</h2>

                <div class="list-mode">
                    <!--Item-->
                    <div class="list-item bot-item">

                        <div class="img"><img src="img/bot-item.jpg" alt="" /></div>

                        <!--Content-->
                        <div class="content">
                            <h3 class="name"><a href="bot-detail.html">Mega Bot</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>

                            <!--Bottom Bar-->
                            <div class="bottom-bar">
                                <!--Platform List-->
                                <div class="platform-bkl">
                                    <div class="platform-list">
                                        <a href="#" class="item"><img src="img/dot.jpg" alt="" /></a>
                                        <a href="#" class="item"><img src="img/dot.jpg" alt="" /></a>
                                    </div>
                                </div>
                                <!--/Platform List-->

                                <!--Activity-->
                                <div class="activity">
                                    <div class="rating">
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="rated" style="width: 80%;"></span>
                                    </div>
                                    <span class="like"><span class="icon-like"></span>12.6k</span>
                                    <span class="cart"><span class="icon-cart"></span>1.3k</span>
                                </div>
                                <!--/Activity-->
                            </div>
                            <!--/Bottom Bar-->

                        </div>
                        <!--/Content-->

                    </div>
                    <!--Item-->

                    <!--Item-->
                    <div class="list-item bot-item">

                        <div class="img"><img src="img/bot-item.jpg" alt="" /></div>

                        <!--Content-->
                        <div class="content">
                            <h3 class="name"><a href="bot-detail.html">Mega Bot</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>

                            <!--Bottom Bar-->
                            <div class="bottom-bar">
                                <!--Platform List-->
                                <div class="platform-bkl">
                                    <div class="platform-list">
                                        <a href="#" class="item"><img src="img/dot.jpg" alt="" /></a>
                                        <a href="#" class="item"><img src="img/dot.jpg" alt="" /></a>
                                    </div>
                                </div>
                                <!--/Platform List-->

                                <!--Activity-->
                                <div class="activity">
                                    <div class="rating">
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="rated" style="width: 100%;"></span>
                                    </div>
                                    <span class="like"><span class="icon-like"></span>12.6k</span>
                                    <span class="cart"><span class="icon-cart"></span>1.3k</span>
                                </div>
                                <!--/Activity-->
                            </div>
                            <!--/Bottom Bar-->

                        </div>
                        <!--/Content-->

                    </div>
                    <!--Item-->

                    <!--Item-->
                    <div class="list-item bot-item">

                        <div class="img"><img src="img/bot-item.jpg" alt="" /></div>

                        <!--Content-->
                        <div class="content">
                            <h3 class="name"><a href="bot-detail.html">Mega Bot</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>

                            <!--Bottom Bar-->
                            <div class="bottom-bar">
                                <!--Platform List-->
                                <div class="platform-bkl">
                                    <div class="platform-list">
                                        <a href="#" class="item"><img src="img/dot.jpg" alt="" /></a>
                                        <a href="#" class="item"><img src="img/dot.jpg" alt="" /></a>
                                    </div>
                                </div>
                                <!--/Platform List-->

                                <!--Activity-->
                                <div class="activity">
                                    <div class="rating">
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="rated" style="width: 30%;"></span>
                                    </div>
                                    <span class="like"><span class="icon-like"></span>12.6k</span>
                                    <span class="cart"><span class="icon-cart"></span>1.3k</span>
                                </div>
                                <!--/Activity-->
                            </div>
                            <!--/Bottom Bar-->

                        </div>
                        <!--/Content-->

                    </div>
                    <!--Item-->

                    <!--Item-->
                    <div class="list-item bot-item">

                        <div class="img"><img src="img/bot-item.jpg" alt="" /></div>

                        <!--Content-->
                        <div class="content">
                            <h3 class="name"><a href="bot-detail.html">Mega Bot</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>

                            <!--Bottom Bar-->
                            <div class="bottom-bar">
                                <!--Platform List-->
                                <div class="platform-bkl">
                                    <div class="platform-list">
                                        <a href="#" class="item"><img src="img/dot.jpg" alt="" /></a>
                                        <a href="#" class="item"><img src="img/dot.jpg" alt="" /></a>
                                    </div>
                                </div>
                                <!--/Platform List-->

                                <!--Activity-->
                                <div class="activity">
                                    <div class="rating">
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="rated" style="width: 100%;"></span>
                                    </div>
                                    <span class="like"><span class="icon-like"></span>12.6k</span>
                                    <span class="cart"><span class="icon-cart"></span>1.3k</span>
                                </div>
                                <!--/Activity-->
                            </div>
                            <!--/Bottom Bar-->

                        </div>
                        <!--/Content-->

                    </div>
                    <!--Item-->
                </div>

            </div>
            <!--/Maker Detail-->

            <div class="pagination-wrap">
                <ul class="pagination">
                    <li class="prev disabled"><span class="icon-back"></span></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li class="next"><span class="icon-next"></span></li>
                </ul>
            </div>
        </div>

    </div>
</div>