<% layout('./layout/layout') -%>
<div class="container">
    <div class="row">

        <!--Left Side-->
        <div class="left-col block-default left-side">

            <!--Funds-->
            <div class="filter-options-item">
                <h3 class="title">Funds</h3>
                <ul class="list">
                    <li class="active"><a href="#">Balances</a></li>
                    <li><a href="#">Deposit</a></li>
                    <li><a href="#">Whithdrawals</a></li>
                    <li><a href="#">Transaction History</a></li>
                </ul>
            </div>
            <!--/Funds-->

        </div>
        <!--/Left Side-->

        <!--Main-->
        <div class="main">
            <div class="block-default">
                <h2 class="block-title">Balances</h2>

                <div class="block-content">

                    <!--Balance Table-->
                    <table class="data-table balance-table">
                        <thead>
                        <tr>
                            <th>Coin</th>
                            <th>Name</th>
                            <th>Total Balance</th>
                            <th>BTC Value</th>
                            <th class="col-space">&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><span class="thead">Coin:</span>BTC</td>
                            <td><span class="thead">Name:</span>Bitcoin</td>
                            <td><span class="thead">Total Balance:</span>150.72</td>
                            <td><span class="thead">BTC Value:</span>1.72</td>
                            <td class="col-action">
                                <a href="#" class="btn-sencondary">Deposit</a>
                                <a href="#" class="btn-sencondary">Whithdrawals</a>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="thead">Coin:</span>EOS</td>
                            <td><span class="thead">Name:</span>EOS</td>
                            <td><span class="thead">Total Balance:</span>150.72</td>
                            <td><span class="thead">BTC Value:</span>1.72</td>
                            <td class="col-action">
                                <a href="#" class="btn-sencondary">Deposit</a>
                                <a href="#" class="btn-sencondary">Whithdrawals</a>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="thead">Coin:</span>UNI</td>
                            <td><span class="thead">Name:</span>UNI</td>
                            <td><span class="thead">Total Balance:</span>150.72</td>
                            <td><span class="thead">BTC Value:</span>1.72</td>
                            <td class="col-action">
                                <a href="#" class="btn-sencondary">Deposit</a>
                                <a href="#" class="btn-sencondary">Whithdrawals</a>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="thead">Coin:</span>BTC</td>
                            <td><span class="thead">Name:</span>Bitcoin</td>
                            <td><span class="thead">Total Balance:</span>150.72</td>
                            <td><span class="thead">BTC Value:</span>1.72</td>
                            <td class="col-action">
                                <a href="#" class="btn-sencondary">Deposit</a>
                                <a href="#" class="btn-sencondary">Whithdrawals</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!--/Balance Table-->

                </div>
                <!--/Block Content-->
            </div>
            <!--/Block Default-->
        </div>
        <!--/Main-->

    </div>
</div>